@import "../../../styles/variables";
@import "../../../styles/mixins";

.wrapper {
  width: 382px;
  border-left: 2px solid #83BCC3;

  .add_form {
    width: 322px;
    margin: 19px 30px 0 30px;

    .title {
      @include text(18px, 21px);
      margin-bottom: 16px;
      color: $accent-text-light;
    }

    .input {
      @include text(12px, 14px);
      margin: 8px 0;
      padding-left: 12px;
      height: 32px;
      width: 95%;
      color: $accent-text-dark;
      background: $accent-secondary;
      border: 1px solid #83BCC3;
    }

    .input-error {
      @include text(12px, 14px);
      margin: 8px 0;
      padding-left: 12px;
      height: 32px;
      width: 95%;
      color: $accent-text-dark;
      background: $accent-secondary;
      box-shadow: 0 0 5px 0.3rem rgba(255, 0, 0, 0.1);
      border: 1px solid red;
    }

    .input-textarea {
      @include text(12px, 14px);
      margin: 8px 0;
      padding-top: 11px;
      padding-left: 12px;
      height: 122px;
      width: 95%;
      color: $accent-text-dark;
      background: $accent-secondary;
      border: 1px solid #83BCC3;
      resize: none;
    }

    .input-textarea-error {
      @include text(12px, 14px);
      margin: 8px 0;
      padding-top: 11px;
      padding-left: 12px;
      height: 122px;
      width: 95%;
      color: $accent-text-dark;
      background: $accent-secondary;
      border: 1px solid red;
      box-shadow: 0 0 5px 0.3rem rgba(255, 0, 0, 0.1);
      resize: none;
    }

    .checkbox-label {
      display: flex;
      align-items: center;
      margin-top: 8px;
      margin-bottom: 22px;
      cursor: pointer;
      position: relative;

      .checkbox {
        position: absolute;
        opacity: 0;
      }

      .custom-checkbox {
        width: 14px;
        height: 14px;
        border: 2px solid $accent-main;
        border-radius: 3px;
        position: relative;
      }

      .custom-checkbox:hover {
        transition: .2s;
        box-shadow: 0 0 5px 0.3rem rgba(131, 188, 195, 0.25);
      }

      .custom-checkbox::before {
        content: '';
        position: absolute;
        display: block;
        width: 14px;
        height: 16px;
        background-image: url('../../../assets/icons/check-mark.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12px;
        opacity: 0;
        transition: .2s;
      }

      .checkbox:checked + .custom-checkbox::before {
        opacity: 1;
      }

      .checkbox-text {
        @include text(12px, 14px);
        padding-left: 7.5px;
        color: $accent-text-light;
      }
    }

    .error {
      @include text(10px, 14px);
      margin-bottom: 5px;
      color: red;
    }

    .actions {
      display: flex;
      justify-content: space-between;
    }
  }
}

.input:hover, .input-textarea:hover {
  transition: .2s;
  box-shadow: 0 0 5px 0.3rem rgba(131, 188, 195, 0.25);
}

@media only screen and (max-width: $lg) {
  .wrapper {
    width: 518px;
    border: 2px solid #83BCC3;
  }

  .add_form {
    width: 516px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0 !important;
  }

  .title {
    width: 516px;
    display: flex;
    justify-content: center;
  }

  .inputs {
    margin: 0 auto;
    width: 400px;
  }

  .actions {
    margin: 0 auto;
    width: 330px;
  }
}

@media only screen and (max-width: $md) {
  .wrapper {
    width: 456px;
    border: 2px solid #83BCC3;
  }

  .add_form {
    width: 456px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0 !important;
  }

  .title {
    width: 456px;
    display: flex;
    justify-content: center;
  }

  .inputs {
    margin: 0 auto;
    width: 400px;
  }

  .actions {
    margin: 0 auto;
    width: 330px;
  }
}

@media only screen and (max-width: $sm) {
  .wrapper {
    width: 307px;
    border: 2px solid #83BCC3;
  }

  .add_form {
    width: 307px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0 !important;
  }

  .title {
    width: 307px;
    display: flex;
    justify-content: center;
    font-size: 16px !important;
  }

  .inputs {
    margin: 0 auto;
    width: 290px;
  }

  .actions {
    margin: 0 auto;
    width: 290px;
  }
}
