@import "../../../styles/variables";
@import "../../../styles/mixins";

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 470px;
  height: 32px;
  margin: 16px 24px 0 24px;

  .checkbox {
    width: 36px;
    background: $accent-main;
  }

  .title {
    @include text(12px, 14px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px;
    width: 123px;
    background: $accent-main;
    color: $white;
    cursor: pointer;
  }

  .description {
    @include text(12px, 14px);
    display: flex;
    align-items: center;
    width: 155px;
    padding-left: 25px;
    background: $accent-main;

    color: $white;
  }

  .time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 7px;
    width: 44px;
    background: $accent-main;
    cursor: pointer;
  }

  .visible {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    background: $accent-main;
  }
}

.title:hover, .time:hover {
  transition: .2s;
  background: $accent-main;
  box-shadow: 0 0 5px 0.3rem rgba(131, 188, 195, 0.25);
}

.title:active, .time:active {
  color: $white;
  background: $accent-text-light;
  box-shadow: 0 0 5px 0.3rem rgba(131, 188, 195, 0.25);
}

@media only screen and (max-width: $md) {
  .wrapper {
    margin: 16px 10px 0 10px;
    width: 435px;
  }

  .title {
    width: 90px !important;
  }
}

@media only screen and (max-width: $sm) {
  .wrapper {
    margin: 16px 5px 0 5px;
    width: 294px;
  }

  .checkbox {
    width: 36px !important;
  }

  .title {
    font-size: 11px !important;
    width: 67px !important;
    padding-left: 5px !important;
  }

  .description {
    font-size: 11px !important;
    width: 81px !important;
    padding-left: 12px !important;
  }

  .time {
    width: 31px !important;
  }

  .visible {
    width: 30px !important;
  }

}