@import "../../../styles/variables/colors";

.wrapper {
  width: 518px;
  border-right: 2px solid #83BCC3;
  //padding: 16px 24px 13px 24px;

  .shadow-box {
    width: 518px;
    border-bottom: 1px solid white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 5;
  }

  .task-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 1px;
    padding: 0;
    max-height: 380px;
    list-style-type: none;

    .item {
      display: flex;
      justify-content: center;
      margin: 8px 24px 4px 24px;
      width: 470px;
      color: $white;
      background: $accent-secondary;
      cursor: pointer;
      position: relative;

      .checkbox {
        position: absolute;
        opacity: 0;
      }

      .custom-checkbox {
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 2px solid $white;
        border-radius: 3px;
        position: relative;
      }

      .custom-checkbox::before {
        content: '';
        position: absolute;
        display: block;
        width: 14px;
        height: 16px;
        background-image: url('../../../assets/icons/check-mark-white.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12px;
        opacity: 0;
        transition: .2s;
      }

      .checkbox:checked + .custom-checkbox::before {
        opacity: 1;
      }

      .check {
        display: flex;
        align-items: center;
        padding-left: 7px;
        width: 31px;
      }

      .title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 8px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $white;
        min-height: 38px;
        max-height: 100px;
        width: 143px;
      }

      .description {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 8px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $white;
        min-height: 38px;
        max-height: 100px;
        width: 174px;
      }

      .time {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $white;
        height: 38px;
        width: 61px;
      }

      .visible {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        padding-right: 5.5px;
        height: 38px;
        width: 32.5px;
      }
    }
  }
}
