@import "../../../styles/variables";
@import "../../../styles/mixins";

.header {
  display: flex;
  justify-content: center;
  min-height: 70px;
  background-color: $accent-main;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;

    .title {
      @include text(24px, 28px);
      color: #FFFFFF;
    }

    .icon {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: $lg) {
  .navbar {
    padding: 0 30px;
  }
}

@media only screen and (max-width: $md) {
  .navbar {
    padding: 0 15px;
  }

  .title {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: $md) {
  .navbar {
    padding: 0 10px;
  }

  .title {
    font-size: 18px !important;
  }
}

