@import "../../../styles/variables";

.menu {
  display: flex;
  justify-content: space-between;
  margin: 16px 24px;
  width: 470px;
}

@media only screen and (max-width: $md) {
  .menu {
    width: 435px;
    display: flex;
    justify-content: space-between;
    margin: 16px 10px;
  }
}

@media only screen and (max-width: $sm) {
  .menu {
    width: 304px;
    display: flex;
    justify-content: space-between;
    margin: 16px 2px;
  }
}