@import "../../../styles/variables/colors";

.wrapper {
  position: relative;
  display: flex;

  .input {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-left: 12px;
    color: $accent-text-dark;
    width: 310px;
    height: 32px;
    border: 1px solid #83BCC3;
    border-radius: 10px;
    background-color: $light-gray;
  }

  .lupe {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 20px;
  }
}

.input:hover, input:focus {
  box-shadow: 0 0 5px 0.3rem rgba(131, 188, 195, 0.25);
}


