@import "../../../styles/variables";
@import "../../../styles/mixins";

.item-green {
  display: flex;
  justify-content: center;
  margin: 4px 24px 4px 24px;
  width: 470px;
  color: $white;
  background: $accent-secondary;
  cursor: pointer;
  position: relative;
}

.item-dark {
  display: flex;
  justify-content: center;
  margin: 4px 24px 4px 24px;
  width: 470px;
  color: $white;
  background: $dark-gray;
  cursor: pointer;
  position: relative;
}

.item-light {
  display: flex;
  justify-content: center;
  margin: 4px 24px 4px 24px;
  width: 470px;
  color: $white;
  background: $gray;
  cursor: pointer;
  position: relative;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.custom-checkbox {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid $white;
  border-radius: 3px;
  position: relative;
}

.custom-checkbox::before {
  content: '';
  position: absolute;
  display: block;
  width: 14px;
  height: 16px;
  background-image: url('../../../assets/icons/check-mark-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  opacity: 0;
  transition: .2s;
}

.checkbox:checked + .custom-checkbox::before {
  opacity: 1;
}

.check {
  display: flex;
  align-items: center;
  padding-left: 7px;
  width: 31px;
}

.title {
  @include text(12px, 14px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 8px;
  color: $white;
  min-height: 38px;
  max-height: 100px;
  width: 143px;
}

.description {
  @include text(12px, 14px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 8px;
  color: $white;
  min-height: 38px;
  max-height: 100px;
  width: 174px;
}

.time {
  @include text(12px, 14px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  height: 38px;
  width: 61px;
}

.visible {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding-right: 5.5px;
  height: 38px;
  width: 32.5px;
}

.item-green:hover, .item-dark:hover, .item-light:hover {
  transition: .2s;
  box-shadow: 0 0 8px 0.2rem rgba(0, 0, 0, 0.2);
}

.item-green:active, .item-dark:active, .item-light:active {
  transition: .2s;
  box-shadow: 0 0 5px 0.3rem rgba(131, 188, 195, 0.1);
}


li:first-child {
  margin-top: 4px;
}

@media only screen and (max-width: $md) {
  .item-green, .item-dark, .item-light {
    margin: 4px 10px;
    width: 435px;
  }
}

@media only screen and (max-width: $sm) {
  .item-green, .item-dark, .item-light {
    margin: 4px 5px;
    width: 293px;
  }

  .title, .description, .time {
    font-size: 11px !important;
    margin: 0 5px;
  }
}
