@import "../../../styles/variables/colors";

.item-green {
  display: flex;
  justify-content: center;
  margin: 4px 24px 4px 24px;
  width: 470px;
  color: $white;
  background: $accent-secondary;
  cursor: pointer;
  position: relative;
}

.item-dark {
  display: flex;
  justify-content: center;
  margin: 4px 24px 4px 24px;
  width: 470px;
  color: $white;
  background: $dark-gray;
  cursor: pointer;
  position: relative;
}

.item-light {
  display: flex;
  justify-content: center;
  margin: 4px 24px 4px 24px;
  width: 470px;
  color: $white;
  background: $gray;
  cursor: pointer;
  position: relative;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.custom-checkbox {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid $white;
  border-radius: 3px;
  position: relative;
}

.custom-checkbox::before {
  content: '';
  position: absolute;
  display: block;
  width: 14px;
  height: 16px;
  background-image: url('../../../assets/icons/check-mark-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  opacity: 0;
  transition: .2s;
}

.checkbox:checked + .custom-checkbox::before {
  opacity: 1;
}

.check {
  display: flex;
  align-items: center;
  padding-left: 7px;
  width: 31px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 8px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $white;
  min-height: 38px;
  max-height: 100px;
  width: 143px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 8px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $white;
  min-height: 38px;
  max-height: 100px;
  width: 174px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $white;
  height: 38px;
  width: 61px;
}

.visible {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding-right: 5.5px;
  height: 38px;
  width: 32.5px;
}

.item:hover {
  transition: .2s;
  box-shadow: 0 0 5px 0.3rem rgba(196, 196, 196, 0.25);
}

.item:active {
  transition: .2s;
  box-shadow: 0 0 5px 0.3rem rgba(131, 188, 195, 0.25);
}


li:first-child {
  margin-top: 4px;
}
